<html>

<head>
    <meta charset="UTF-8">
    <title>System Maps</title>
    <%- include("../partials/head") %>
    <style>
        #home:hover{
            cursor:grab;
        }
        button{
            font-size: 25px;
            border-width: 1px;
            border-radius: 12px;
        }button:hover{
            cursor:grab;
        }
    </style>
</head>

<body>
    <img id="home" src="/logos/home.png" width="50px">

    <p style="font-size: 20px;" id="load">Loading...Please wait...</p>

    <select id="mapname" style="font-size: 25px;" onchange="init()">
        <option value="Leaflet_Map">All routes & stops</option>
        <% mapJSON.forEach(map => {%>
            <option value="<%= map.url%>"><%= map.name%></option>
        <%})%>
    </select>
    <button onclick="zoomToCurrent()">Zoom in to current location</button><br><br>
    <button onclick="routeListRedirect()">See a full list of routes, with schedules and current bus locations</button>
    <p style="font-size: 20px;">Zoom in to see more detail and to display stops</p>
    <div id="outerbox">
    </div>
    <br>

    <script>
        // Redirects
        document.getElementById('home').addEventListener('click',() => {
            window.location.href='https://transitGTA.onrender.com';
        });
        function routeListRedirect(){
            window.location.href='https://transitGTA.onrender.com/<%= agency %>/routelist';
        }
        // Splits a CSV string into a 2D array
        function strArray(string) {
            const array1 = string.split('\n');
            let array2 = [];
            for (const el of array1) {
                array2.push(el.split(','));
            }
            return array2;
        }
        // Decodes strings passed from Express server
        function parseHtmlEntities(str) {
            return str.replace(/&#([0-9]{1,3});/gi, function(match, numStr) {
                var num = parseInt(numStr, 10); // read num as normal number
                return String.fromCharCode(num);
            });
        }

        const agency=`<%= agency%>`;
        const routeShapesStr=`<%= routeshapes%>`;
        const shapes=strArray(routeShapesStr);
    </script>
    <script type="text/javascript" src="/map.js"></script>
</body>

</html>