<html>

<head>
    <meta charset="UTF-8">
    <title>System Maps</title>
    <%- include("../partials/head") %>
</head>

<body>
    <a href="https://transitGTA.kevinwang21.repl.co" style="font-size: 20px; color: #ff0000">Home</a>

    <br><br>
    <select id="mapname" onchange="init()">
        <option value="-">Choose a map from the menu</option>
        <option value="Leaflet_Map">Leaflet Map - all routes & stops</option>
        <% mapJSON.forEach(map => {%>
            <option value="<%= map.url%>"><%= map.name%></option>
        <%})%>
    </select>
    <br><br>
    <div id="outerbox">
    </div>

    <script>
        // Splits a CSV string into a 2D array
        function strArray(string) {
            const array1 = string.split('\n');
            let array2 = [];
            for (const el of array1) {
                array2.push(el.split(','));
            }
            return array2;
        }
        // Decodes strings passed from Express server
        function parseHtmlEntities(str) {
            return str.replace(/&#([0-9]{1,3});/gi, function(match, numStr) {
                var num = parseInt(numStr, 10); // read num as normal number
                return String.fromCharCode(num);
            });
        }

        const agency=`<%= agency%>`;
        const routeShapesStr=`<%= routeshapes%>`;
        const shapes=strArray(routeShapesStr);
    </script>
    <script type="text/javascript" src="/map.js"></script>
</body>

</html>