<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <style>
            #home:hover{
                cursor:grab;
            }
            button{
                font-size: 25px;
                border-width: 1px;
                border-radius: 12px;
            }button:hover{
                cursor:grab;
            }
        </style>
    </head>
    <body>
        <img id="home" src="/logos/home.png" width="50px">

        <p style="font-size: 20px;"><%= title %></p>
        <div style="width: 90%; height: 570px; margin: auto; overflow: scroll; border: 2px black solid" id="outerBox" onscroll="updateDisplay()">
            <table>
                <tr style="position: relative; background: white; z-index: 2; top: 0px;" id="stopsRow">
                    <td></td>
                    <% for(let i=0;i<stopnames.length;i++){ %>
                        <td style="border-bottom: 1px black solid; border-right: 1px black solid; font-size: 17px" class="link">
                            <a href="./stopschedule?s=<%= schedule[0][i]%>&t=<%= dateStr%>"><%= stopnames[i]%></a>
                        </td>
                    <%}%>
                </tr>
                <% for(let i=1;i<schedule.length;i++){ %>
                    <tr>
                        <td style="border-bottom: 1px black solid; border-right: 1px black solid; font-size: 18px; position: relative; z-index: 1; background-color: #<%= routecolor %>" class="link trip">
                            <a href="./trip?t=<%= tripids[i]%>"><%= headsigns[i]%></a>
                        </td>
                        <% for(let j=0;j<schedule[i].length;j++){ %>
                            <td style="border-top: 1px black solid; border-left: 1px black solid; font-size: 16px; position: relative; z-index: 0; background-color: #<%= colors[i][j]%>"><%= schedule[i][j]%></td>
                        <%}%>
                    </tr>
                <%}%>
                <% if(schedule.length==1){ %>
                    <tr><td style="font-size: 25px;">There is no service on this route today.</td></tr>
                <%}%>
            </table>
        </div>
        <br>
        <button style="font-size: 25px;" onclick="routeVehiclesRedirect()">See locations of all vehicles on this route</button> <br><br>
        <button style="font-size: 25px;" onclick="routeScheduleRedirect()">See schedule for the opposite direction</button>

        <div style="font-size: 25px;" id="update">
            <p style="margin-bottom: 0;">Find schedules for a different route or a different date:</p>
            <select style="font-size: 20px;" id="routeid">
                <% for(let i=1;i<routes.length;i++){ %>
                    <% if(routes[i][routes[0].indexOf('route_short_name')] == routeshortname){ %>
                        <option value="<%= routes[i][routes[0].indexOf('route_short_name')] %>" selected><%= routes[i][routes[0].indexOf('route_short_name')] %> <%= routes[i][routes[0].indexOf('route_long_name')] %></option>
                    <%} else {%>
                        <option value="<%= routes[i][routes[0].indexOf('route_short_name')] %>"><%= routes[i][routes[0].indexOf('route_short_name')] %> <%= routes[i][routes[0].indexOf('route_long_name')] %></option>
                    <%}%>
                <%}%>
            </select> <br>
            <label for="date">Choose a date: </label><input style="font-size: 20px;" id="date" type="date" value="<%= dateStr%>"><br>
            <button style="font-size: 20px;" onclick="newScheduleRedirect()">See new schedule</button>
        </div>

        <script>
            // Update positions of top row (stops) and left column (trips) to force them to stick to the top / left of the schedule table box
            function updateDisplay(){
                const ypos=document.getElementById("outerBox").scrollTop;
                document.getElementById("stopsRow").style.top=ypos+'px';
                const xpos=document.getElementById("outerBox").scrollLeft;
                const cells=document.getElementsByClassName('trip');
                for(const cell of cells){
                    cell.style.left=xpos+'px';
                }
            }
            // Redirect functions
            document.getElementById('home').addEventListener('click',() => {
                window.location.href='https://transitGTA.onrender.com';
            });
            function routeVehiclesRedirect(){
                window.location.href='https://transitGTA.onrender.com/<%= agency %>/routevehicles?r=<%= routeshortname %>';
            }
            function routeScheduleRedirect(){
                window.location.href='https://transitGTA.onrender.com/<%= agency %>/routeschedule?r=<%= routeshortname %>&d=<%= reverseDir %>&t=<%= dateStr %>';
            }
            function newScheduleRedirect(){
                const routename=document.getElementById('routeid').value;
                const datestr=document.getElementById('date').value;
                window.location.href='https://transitGTA.onrender.com/<%= agency %>/routeschedule?r='+routename+'&t='+datestr;
            }
        </script>
        <br>
    </body>
</html>