<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stop schedule for <%= stopname %></title>
        <style>
            #home:hover{
                cursor:grab;
            }
            button{
                font-size: 25px;
                border-width: 1px;
                border-radius: 12px;
            }button:hover{
                cursor:grab;
            }
        </style>
    </head>
    <body>
        <img id="home" src="/logos/home.png" width="50px">
        
        <p style="font-size: 20px;"><%= title%></p>
        <button onclick="nextBusRedirect()" style="font-size: 20px;">Next vehicle arrival at this stop</button><br><br>
        <select id="update" style="font-size: 25px;" onchange="generateTable()">
            <option id="neither" value="0">Default stop schedule</option>
            <option id="headway" value="1">Show headways between vehicle arrivals</option>
            <option id="arrival" value="2">Separate arrivals and departures</option>
        </select><br><br>
        <table id="table"></table>

        <div style="font-size: 25px;" id="update"><br>
            <label for="date">Find a schedule for a different date: </label><input style="font-size: 20px;" id="date" type="date" value="<%= dateStr%>"><br>
            <button style="font-size: 20px;" onclick="newScheduleRedirect()">See new schedule</button>
        </div>

        <script>
            // Redirects
            document.getElementById('home').addEventListener('click',() => {
                window.location.href='https://transitGTA.onrender.com';
            });
            function nextBusRedirect(){
                window.location.href='https://transitGTA.onrender.com/<%= agency %>/nextbus?s=<%= stopid%>';
            }
            function newScheduleRedirect(){
                const datestr=document.getElementById('date').value;
                window.location.href='https://transitGTA.onrender.com/<%= agency %>/stopschedule?s=<%= stopid%>&t='+datestr;
            }
            // Splits a CSV string into a 2D array
            function strArray(string) {
                const array1 = string.split('\n');
                let array2 = [];
                for (const el of array1) {
                    array2.push(el.split(','));
                }
                return array2;
            }

            const agency = '<%= agency %>';
            const title = '<%= title %>';
            const stopname = '<%= stopname %>';
            const isParentStr = '<%= isParent %>';
            const isParent = (isParentStr == 'true');
            const stoptripsStr = `<%= stoptrips %>`;
            const stoptrips = strArray(stoptripsStr);
            const stoproutesStr = `<%= stoproutes %>`;
            const stoproutes = strArray(stoproutesStr);
            const platformStr = `<%= platforms %>`;
            const platforms = strArray(platformStr);
            const arrivalTimesStr = `<%= arrivalTimes %>`;
            const arrivalTimes = arrivalTimesStr.split(',');
            const isArrivalStr = `<%= isArrival %>`;
            const isArrival = isArrivalStr.split(',');
        </script>
        <script src="/stopschedule.js"></script>
        <br>
    </body>
</html>